#vscode data
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log

#build folder, executable and output files
**/tmp_build_dir
**/*.ex
**/Backtrace*
**/plt*
**/.ipynb_checkpoints/

/wrk/

/lib/cgal/build/*
/lib/boost
/lib/install/*

/tst/AMReX_regtests/output/AMReX-benchmarks/*
/tst/AMReX_regtests/output/AMReX-tests/*
/tst/AMReX_regtests/output/web/*
