[submodule "lib/amrex"]
	path = lib/amrex
	url = https://github.com/AMReX-Codes/amrex.git
[submodule "lib/cgal"]
	path = lib/cgal
	url = https://github.com/CGAL/cgal.git
[submodule "tst/regression_testing"]
	path = lib/regression_testing
	url = https://github.com/AMReX-Codes/regression_testing.git
[submodule "lib/amrex-tutorials"]
	path = lib/amrex-tutorials
	url = https://github.com/AMReX-Codes/amrex-tutorials.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
